* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #2e4dff;
}

/* ---------- Background Gradient ---------- */
.ej2 {
  background-image: linear-gradient(#2e4dff, #ce5cff, #2e4dff, #B274D6, #2e4dff);
  position: absolute;
  height: 4000px;
  left: 50%;
  margin: 0 auto;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  z-index: 0;
}

/* ---------- Main Flex Container ---------- */
.flex-container {
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  position: relative;
  justify-content: center;
  font-family: "Roboto Condensed", arial, sans-serif;
  /* ---------- Background Image ---------- */
  /* ---------- Red Letters ---------- */
}
.flex-container .bgimg {
  background-image: url("https://cdn.glitch.com/1fe1b718-1c7f-4e3e-bccf-455d1202e652%2FEJ%20480.png?v=1602912897196");
  position: fixed;
  width: 480px;
  height: 950px;
  z-index: 1;
}
.flex-container .electro-jazz {
  display: flex;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  color: #f93624;
  z-index: 1;
  font-size: 180px;
  font-weight: 400;
}
.flex-container .electro-jazz div {
  width: 200px;
  height: 200px;
  margin: 80px 0;
}

/* ---------- Footer ---------- */
.footer {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  flex: 1;
  border-top: 10px solid #f93624;
  align-content: center;
  color: #fcde9c;
  z-index: 2;
  /* ---------- logo ---------- */
  /* ---------- Info Stuffs ---------- */
}
.footer h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 20px;
}
.footer p,
.footer ul {
  font-size: 10px;
  font-weight: 400;
  margin: 20px;
  align-self: center;
}
.footer .f1 {
  width: 80px;
}
.footer .f2,
.footer .f3 {
  width: 60px;
}
.footer ul {
  list-style: none;
  padding: 0;
}

/* ---------- 600px + ---------- */
@media (min-width: 600px) {
  .flex-container .bgimg {
    background-image: url("https://cdn.glitch.com/1fe1b718-1c7f-4e3e-bccf-455d1202e652%2FEJ%201280.png?v=1602913545746");
    width: 1280px;
  }

  .ej2 {
    width: 1280px;
    height: 2000px;
  }
}
/* ---------- 1280px + ---------- */
@media (min-width: 1200px) {
  .flex-container .bgimg {
    background-image: url("https://cdn.glitch.com/1fe1b718-1c7f-4e3e-bccf-455d1202e652%2FEJ%20900.png?v=1602913549493");
    width: 1900px;
  }

  .ej2 {
    width: 1900px;
    height: 2000px;
  }
}
