* {
    margin: 0;
    padding: 0;
}

.electro-jazz-container {
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    font-family: arial;

    h1 {
        width: 200px;
        height: 200px;
        font-size: 100px;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        flex: 1;

        h2 {
            font-size: 16px;
            margin: 20px;
        }

        p {
            font-size: 8px;
            margin: 20px;
            align-self: center;
        }
    }

}
